# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
home/linux/desktop/i3/conf/polybar/** linguist-vendored
overlays/ciscoPacketTracer8/CiscoPacketTracer822_amd64_signed.deb filter=lfs diff=lfs merge=lfs -text
