[Desktop Entry]
Name=Adobe Illustrator CS6
Exec=sh -c 'xprop -root -f _XWAYLAND_GLOBAL_OUTPUT_SCALE 32c -set _XWAYLAND_GLOBAL_OUTPUT_SCALE 1 && adobe_illustrator_cs6 && xprop -root -f _XWAYLAND_GLOBAL_OUTPUT_SCALE 32c -set _XWAYLAND_GLOBAL_OUTPUT_SCALE 2'
Type=Application
Terminal=false
StartupNotify=false
Comment=GameLinux
Icon=Adobe_Illustrator_CS6
Categories=Graphics;2DGraphics;
